# developtment documentation
sphinx-rtd-theme
# general requirements
scipy
numpy
# optional requirements
ray
tensorboardX
tensorboard-data-server
tensorboard-plugin-wit
# test
pytest
pytest-csv-params
scikit-learn
tensorflow
# tensorflow-macos
# tensorflow-metal
# benchmark
hyperopt
optuna
pandas
matplotlib